// Navigation Styles here

.navigation {
  width: 100%;
  .display-flex(row, center, center);
  font-size: 1.6rem;
  .border();
  padding: 20px;

  nav {
    .display-flex(row, flex-end, center);
    width: 50%;
    a {
      color: @font-color;
      text-decoration: none;
      margin-left: 8%;

      &:hover {
        color: lighten(@font-color, 30%);
      }
    }
  }
}
